@{
    /**/

    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" rel="stylesheet" href="../../Content/css-style-for-partial.css" />

<div class="journal-container">
    @Html.Partial("Partial")
</div>


@Scripts.Render("~/bundles/JournalPageScript")